.ball {
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	width: 50px;
}

body {
	background-color: rgb(19 17 17 / 95%);
   background-image: url(https://i1.wallbox.ru/wallpapers/main/201242/tekstury-4daefc2d5498.jpg);
	justify-content: center;
	flex-direction: column;
	align-items: center;
   display: flex;
}

button {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #faebd74d;
	border-radius: 10px;
	margin-bottom: 20px;
	border: 2px solid transparent;
	padding: 7px 20px;
	font-size: 16px;
	color: floralwhite;
}

.button {
	background-color: cornflowerblue;
	transition-duration: 0.4s;
}

.div-still {
	background-color: ghostwhite;
	/* border: 10px solid #009ffc; */
	border-radius: 9%;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 18px;
   margin-top: 9%;
	text-align: center;
	width: 27%;
}

h1 {
	border-radius: 20px;
	margin-right: 20%;
	margin-left: 20%;
}
