body {
  text-align: center;
}

button {
  background-color: lightgrey;
  border: none;
  border-radius: 1em;
  box-shadow: 2px 2px 5px grey;
  color: black;
  font-weight: 600;
  margin: 0.5em;
  padding: 0.5em 1em;
  transition: 0.5s;
}

button:focus {
  outline: transparent;
}

button:hover {
  background-color: white;
  padding: 0.5em 2em;
}

main {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  color: white;
  font-family: cursive;
  margin: 50px auto;
  padding: 30px;
  text-shadow: 2px 2px 5px grey;
  width: 500px;
}

.ball {
  border: 3px solid black;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  margin: 10px;
  transition: 0.3s;
  width: 50px;
}

.ball:hover {
  border: 3px solid white;
}

.container {
  height: 100px;
}
