.ball {
  border: 1px solid black;
  border-radius: 100%;
  display: inline-block;
  margin: 3px;
  padding: 2%;
}

body {
  height: 768px;
  width: 1366px;
}

.reset-button {
  margin-top: 35px;
  text-align: center;
}

.container {
  margin: 15px;
  padding: 25px;
  text-align: center;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.selected {
  border: 4px solid darkblue;
}
